
.dvItemRight{
    width: 100%;
}

.divderRight{
    left:auto;
}

.imgIconLeft{
    width: 40px;
    height: 40px;
    margin-bottom: 0;
    margin-right: 12px;
}

.pItemAll{
    min-width:40%;
}

.img_check{
    height: 40px;
    width: 40px;
}

.switch_check{
    height: 40px;
    width: 100px;
    margin: 0;
}

.check{
    display: block;
}

.uncheck{
    display: none;
}

.subheader{
    text-align:left;
    padding-left:50px;
    background-color:#dedede;
    font-size: 18px !important;
}

.item_home{
    background-color:white;
    padding: 0 16px;
}

.item_home_switch{
    background-color:white;
    padding: 0 16px;
}

.item_home:active{
    background-color: rgba(136, 139, 144, 0.19);
}

.listdemoListControls {
  /* Add some right padding so that the text doesn't overlap the buttons */ }
  .listdemoListControls md-divider {
    margin-top: 10px;
    margin-bottom: 10px; }
  .listdemoListControls md-list-item > p,
  .listdemoListControls md-list-item > .md-list-item-inner > p,
  .listdemoListControls md-list-item .md-list-item-inner > p,
  .listdemoListControls md-list-item .md-list-item-inner > .md-list-item-inner > p {
    -webkit-user-select: none;
    /* Chrome all / Safari all */
    -moz-user-select: none;
    /* Firefox all */
    -ms-user-select: none;
    /* IE 10+ */
    user-select: none;
    /* Likely future */ }
  .listdemoListControls .secondary-button-padding p {
    padding-right: 100px; }


@media (min-width:320px) { 
     
}
@media (min-width:481px) { /* portrait e-readers (Nook/Kindle), smaller tablets @ 600 or @ 640 wide. */ }
@media (min-width:641px) { /* portrait tablets, portrait iPad, landscape e-readers, landscape 800x480 or 854x480 phones */ }
@media (min-width:961px) { 
    md-list .md-subheader {
        line-height: 2em;
    }

    .md-button {
        line-height:44px;
    }
}
@media (min-width:1025px) { 

    md-list .md-subheader {
        line-height: 2em;
    }

    .md-button {
        line-height:48px;
    }

    .subheader{       
        font-size: 20px !important;
    }
}
@media (min-width:1281px) { 

    md-list .md-subheader {
        line-height: 2em;
    }

    .md-button {
        line-height:48px;
    }

    .subheader{       
        font-size: 20px !important;
    }
}